<div class="jumbotron">
    <div class="container scumbag-cart-item">
      <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-2">
          <h3>Scumbag</h3>
        </div>
        <div class="col-xs-2">
            <h3>Price</h3>
        </div>

        <div class="col-xs-2">
            <h3>Quantity</h3>
        </div>

        <div class="col-xs-2">
            <h3>Sub Total</h3>
        </div>
      </div>

  <div class="line-separator"></div>
  <% @cart_items.each do |cart_item| %>

    <div class="row">

      <div class="col-xs-2" id="cart-img">
        <%= image_tag(cart_item.scumbag.image_path, size: "75", class: "cart-thumb") %>
      </div>

      <div class="col-xs-2">
        <%= link_to cart_item.scumbag.name, scumbag_path(cart_item.scumbag) %> <%= "#{cart_item.scumbag.party_abbreviation}" %><br>
        <%= "#{cart_item.scumbag.branch.name}"%>
      </div>

      <div class="col-xs-2">
          <%= "$#{cart_item.scumbag.price}" %>
      </div>

      <div class="col-xs-2">
        <%= form_for(:qty_update, url: cart_path(cart_item.scumbag.id), method: :put) do |f| %>
          <%= f.hidden_field :scumbag_id, value: cart_item.scumbag.id %>
          <%= f.select :quantity, (1..20), {:selected => cart_item.quantity}, {:onChange => 'this.form.submit();' } %>
        <% end %>
      </div>

      <div class="col-xs-2">
          <%= "$#{cart_item.subtotal}" %>
      </div>


      <div class="col-xs-2">
          <%=button_to "Remove", cart_path(cart_item.scumbag.id), class:"btn-xs btn-danger", method: :delete%>
      </div>

    </div>
  <%end %>
    <div class="line-separator"></div>
    <h3>Total: $<%=@cart.items_total %> </h3>
    <% if logged_in? %>
      <%= button_to "Checkout", orders_path,class: "checkout-btn btn btn-primary"%>
    <% else %>
      <p class="login-or-create"><%="#{link_to "Login", login_path} or #{link_to "Create Account to Checkout", new_user_path}".html_safe %></p>
    <%end%>
  </div>
</div>
