  <div class="container scumbag-cart-item">
    <h1>Admin Dashboard</h1>
    <div class="jumbotron orders">
      <%= button_to "Modify Your Account", edit_admin_user_path(current_user), method: :get, class: "btn btn-success btn-md"%>

      <div class="table-width">
        <div class="row">
          <div class="col-xs-2">
            <p><%= link_to 'Ordered', admin_dashboard_path(status: 'ordered') %></p>
          </div>
          <div class="col-xs-2">
            <p><%= link_to 'Paid', admin_dashboard_path(status: 'paid') %></p>
          </div>
          <div class="col-xs-2">
            <p><%= link_to 'Cancelled', admin_dashboard_path(status: 'cancelled') %></p>
          </div>
          <div class="col-xs-2">
            <p><%= link_to 'Completed', admin_dashboard_path(status: 'completed') %></p>
          </div>
          <div class="col-xs-2">
            <p><%= link_to 'All', admin_dashboard_path %></p>
          </div>
        </div>

        <div class="status-table">
          <div class="row">
            <div class="col-xs-2">
              <p><%= @statuses["ordered"] ?  @statuses["ordered"] : 0%></p>
            </div>
            <div class="col-xs-2">
              <p><%= @statuses["paid"] ?  @statuses["paid"] : 0%></p>
            </div>
            <div class="col-xs-2">
              <p><%= @statuses["cancelled"] ?  @statuses["cancelled"] : 0%></p>
            </div>
            <div class="col-xs-2">
              <p><%= @statuses["completed"] ?  @statuses["completed"] : 0%></p>
            </div>
            <div class="col-xs-2">
              <p><%= @orders_count ?  @orders_count : 0%></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row table-margin">
        <div class="col-xs-2">
          <h3>Order Number</h3>
        </div>
        <div class="col-xs-2">
          <h3>Date</h3>
        </div>
        <div class="col-xs-2">
            <h3>Total Price</h3>
        </div>

        <div class="col-xs-2">
            <h3>Status</h3>
        </div>

        <div class="col-xs-2">
          <h3>View</h3>
        </div>

        <div class="col-xs-2">
          <h3>Update Status</h3>
        </div>
      </div>

  <div class="line-separator"></div>
  <% @orders.each do |order| %>

    <div class="row table-margin">

      <div class="col-xs-2 order-id">
        <%= order.id %>
      </div>

      <div class="col-xs-2 order-date">
        <%= order.created_at %>
      </div>

      <div class="col-xs-2 order-price">
          <%= order.total_price %>
      </div>

      <div class="col-xs-2 order-status">
        <%= order.status %>
      </div>

      <div class="col-xs-2 order-view">
          <%= link_to "View", order_path(order) %>
      </div>

      <div class="col-xs-2 order-update">
        <% if order.status == 'ordered' %>
          <%= button_to "Mark as Paid", admin_order_path(order, status: 'paid'), method: :patch %><br/>
          <%= button_to "Cancel", admin_order_path(order, status: 'cancelled'), method: :patch %>
        <% elsif order.status == 'paid'%>
          <%= button_to "Cancel", admin_order_path(order, status: 'cancelled'), method: :patch %>
          <%= button_to "Mark as Completed", admin_order_path(order, status: 'completed'), method: :patch %>
        <% end %>
      </div>

    </div>
  <%end %>
</div>

