<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LobbyShop</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render "partials/user_nav" %>
    <% else %>
      <%= render "partials/visitor_nav" %>
    <%end%>

    <div class="jumbotron index-header">
      <div class="container text-center index-words">
        <h1 class="index-text">Lobby Shoppe</h1>      
        <p class="index-text">“When they call the roll in the Senate, the Senators do not know whether to answer 'Present' or 'Not Guilty'.”</p>
        <p class="index-text">-Theodore Roosevelt</p>
      </div>
    </div>
    
    <% flash.each do |type, message| %>
      <% message = [message] if message.class == String %>
        <%= content_tag :div, message.join('<br/>').html_safe, class: "flash-#{type}"%>
    <%end%>
    <%= yield %>
  </body>

</html>
